.topCards {
    /* height: 50%; */
    /* min-height: 200px; */
    display: flex;
    flex-wrap: wrap;
    /* background: #000; */
}

.baseCard {
    flex-grow: 1;

    color: white;
    background: blue;
    /* height: 100%; */
    width: 200px;
    border-radius: 2px;
    z-index: 1;

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    box-shadow: 0px 3px 17px 0px rgba(62, 62, 62, 0.652);
}

.baseCard>span {
    /* background: #000; */
    margin: 0 10px;
}

.currencySymbol {
    color: rgb(0, 255, 0);
    font-size: 200%;
    font-weight: bold;
    padding: 0 5%;
}

.favouriteCards {
    width: 40%;
    flex-grow: 1;
    min-width: 350px;
    background: rgba(92, 92, 92, 0.182);
    /* margin: 0 0 0 10px; */
    border-radius: 2px;

    display: flex;
    padding: 5px;
    flex-wrap: wrap;
    align-items: stretch;
    /* box-shadow: 0px 5px 17px 0px rgba(62, 62, 62, 0.652); */
    z-index: 1;
}

.favouriteCard {
    background: rgba(255, 255, 255, 1);
    width: 37%;
    flex-grow: 1;

    border-radius: 2px;
    margin: 3px;
    padding: 5px;
    font-weight: 600;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* align-items: center; */
    box-shadow: 0px 3px 7px 2px rgba(62, 62, 62, 0.552);

}

.favouriteCard>div {
    /* background: #00000045; */
    flex-grow: 1;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.favouriteCard>span {
    /* background: blue; */
    margin: 1px;
    /* flex-grow: 1; */
}

.currencySymbol2 {
    color: rgb(0, 255, 0);
    /* width: 60%; */
    /* font-size: 120%; */
    font-weight: bold;
    word-wrap: break-word;
}